<div class="container-fluid">
    <div class="row col-6 mt-5 ml-auto mr-auto">
        <div class="col"></div>
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">{{ 'FORGOT_PASSWORD.FORGOT_PASSWORD' | translate }}</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">{{ 'FORGOT_PASSWORD.EMAIL' | translate }}</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <button type="button" class="btn btn-info" (click)="forgotPassword()">{{ 'FORGOT_PASSWORD.SEND_LINK' | translate }}</button>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <a href="/login" style="text-decoration: none;">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</a> -->
                                <a routerLink="/login" routerLinkActive="active" style="text-decoration: none;">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>