<nav class="col-1.4 bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/product-list" routerLinkActive="active">
        <i class="fa fa-list-ul"></i> {{ 'SIDEBAR.PRODUCT_MANAGEMENT' | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/category-list" routerLinkActive="active">
        <i class="fa fa-hashtag"></i> {{ 'SIDEBAR.CATEGORY_MANAGEMENT' | translate }}
      </a>
    </li>
  </ul>
</nav>
