.container-fluid2 {
    margin-left:3%;
}

@media screen and (max-width: 1200px) {
    .container-fluid2 {
        margin-left:15%;
    }
}

@media screen and (max-width: 768px) {
    .container-fluid2 {
        margin-left:15%;
    }
}

@media screen and (max-width: 576px) {
    .container-fluid2 {
        margin-left:15%;
    }
}